.ui-content .ui-listview, .ui-panel-inner > .ui-listview {
	margin-top: 0px;
} 

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

nav span {
	text-align: center;
}

.welcome-bar {
	font-size: 16px;
}

#hello {
	text-align: right;
}

#hello i {
	margin-left: 10px;
}

#hello .ion-log-out {
	margin-right: 30px;
}

.top-gift-container img {
	max-width: 100%;
}

.head * {
	font-weight: bold;
}

.head *, .foot * {
	color: white;
}

.foot a {
	text-decoration: none;
}

.foot h4 a.ui-link:hover {
    color: white;
}

.foot h4 a.ui-link:link {
    color: white;
}

.item-thumbnail-left {
	min-height: 70px;
}

.item-thumbnail-left + .item-thumbnail-left {
	margin-top: 5px;
}

#friendPage .col {
	padding-right: 5px;
	margin-right: 5px;
}

#openQueryPage .list a {
	text-decoration: none;
}

#openQueryPage .item:hover {
	background-color: whitesmoke;
}

#openQueryPage .item p {
	font-weight: normal;
}

#openQueryPage .item p + p {
	margin-top: -5px;
}

#openQueryPage .item .icon {
	margin-right: 10px;
}

#newSuggestionPage form.list>div.row *{
	margin-right: 5px;
	width: 100%;
}

#newSuggestionPage .row button {
	margin-top: auto;
	margin-bottom: auto;
	height: 45px;
	padding: 0px;
}

#newSuggestionPage .row button span {
	padding-left: 0px;
}

#queryPage .list a {
	text-decoration: none;
	border: none;
}

#queryPage .item:hover {
	background-color: whitesmoke;
}

#queryPage .item p {
	font-weight: normal;
}

#queryPage .item p + p {
	margin-top: -5px;
}

#queryPage .item .icon {
	margin-right: 10px;
}

#queryPage i.icon.ion-ios7-lightbulb-outline {
	margin-left: 10px;
}

#queryPage li.item.row, #suggestionPage li.item.row, #mySuggestionPage li.item.row, #wishlistsPage li.item.row {
	max-width: 98%;
}

#newQueryPage form>div.row *, #editWishlistPage form>div.row *, #editGiftPage form>div.row * {
	margin-right: 5px;
	width: 100%;
}

#suggestionPage .item p {
	font-weight: normal;
	max-width: 200px;
}

#suggestionPage .item p + p {
	margin-top: -5px;
}

#suggestionPage .item .icon {
	margin-right: 10px;
}

#suggestionPage input#editRating {
	max-width: 50%;
	height: 50px;
}

#suggestionPage input.button.no-margin.no-padding {
	font-size: 12px;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin: auto;
	min-width: 0;
	min-height: 0;
	border-radius: 30px;
	vertical-align: middle;
}

#mySuggestionPage .item p {
	font-weight: normal;
	max-width: 200px;
}

#mySuggestionPage .item p + p {
	margin-top: -5px;
}

#mySuggestionPage .item .icon {
	margin-right: 10px;
}

#wishlistsPage .item p {
	font-weight: normal;
}

#wishlistsPage .item .icon {
	margin-right: 10px;
}

#wishlistsPage .item:hover {
	background-color: whitesmoke;
}

#wishlistsPage .list a {
	text-decoration: none;
}

#wishlistsPage li.item.row.add-wishlist {
	margin-top: -22px;
}

#wishlistPage .list {
	width: 100%;
}

#wishlistPage .item p {
	max-width: 200px;
}

#wishlistPage .item p + p {
	margin-top: -5px;
}

#wishlistPage .item .icon {
	margin-right: 10px;
}


